// @include displayFlex(center);

@mixin displayFlex($content: center) {
  display: flex;
  align-items: center;
  justify-content: $content;
}

// @include alignItems(center);;

@mixin alignItems($content: center) {
  display: flex;
  align-items: $content;
}

// @inclide solid

@mixin solid($w: 100%) {
  width: $w;
  height: 1px;
  background: $gray-solid;
}
