// color
$bg: #f4f9fd;
$white: #fff;
$black: #000;
$text-black: #1e293b;
$text-gray-dark: #334155;
$text-gray: #64748b;
$steel: #94a3b8;
$deep_blue: #0a1629;
$primary: #3f8cff;
$primary-text: #2563eb;
$gray: #7d8592;
$green: #48bb78;
$border-gray: #f3f4f6;
$border-gray-inp: #d8e0f0;
$gray-solid: #0505050f;
$red: #ff4d4f;
$red-err: #f65160;
$green-active: #52c41a;
$red-no-active: #dc2626;

// fonts
$nunito: "Nunito Sans", sans-serif;
