.sidebar {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: 95svh;
  padding: 40px 16px;
  background: white;
  border-radius: 24px;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);

  .sidbar_logo {
    margin-left: 8px;
  }

  .sidebar_list {
    display: flex;
    flex-direction: column;
    margin-top: 42px;
    gap: 5px;

    li {
      width: 100%;
      height: 44px;
      padding: 0px 8px;
      border-radius: 10px;
      background: rgba(63, 140, 255, 0.1);
      display: flex;
      align-items: center;
      gap: 16px;

      .sidabar_icons {
        color: #3f8cff;
        font-size: 22px;
      }

      span {
        color: rgba(63, 140, 255, 1);
        font-family: Nunito Sans;
        font-size: 16px;
        font-weight: 700;
        line-height: 22px;
      }
    }
  }
}
