* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: $bg;
  padding: 24px;
}

ul,
ol {
  list-style: none;
}

button {
  border: none;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: inherit;
}

textarea,
input {
  border: none;
  outline: none;
}

select {
  outline: none;
  cursor: pointer;
}

.wrapper {
  display: flex;
}

.outlet {
  width: 100%;
  max-width: 100%;
  padding: 0px 30px;
}
