@import "./components/_components";

.dashboard_wrapper {
  display: grid;
  grid-template-columns: 1fr 350px;
  align-items: center;
  gap: 20px;
  margin-top: 30px;
}

.pie_bg {
  padding: 10px;
  border-radius: 35px;
  box-shadow: 0px 3.5px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
  background: $white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90%;
}
