header {
  .header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .header_search {
    width: 350px;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);
    background: rgba(255, 255, 255, 1);
    color: #7d8592;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    display: flex;
    justify-content: start;
    align-items: center;
    cursor: pointer;
    padding-left: 19px;
    gap: 11px;

    &_icon {
      color: #0a1629;
      font-size: 24px;
    }
  }

  .header_content {
    display: flex;
    gap: 24px;
  }

  .header_notice {
    width: 48px;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &_icon {
      color: #0a1629;
      font-size: 28px;
    }
  }

  .header_profile {
    width: 182px;
    height: 48px;
    border-radius: 14px;
    box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);
    background: rgba(255, 255, 255, 1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;

    &_foto_name {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    &_foto {
      width: 30px;
      height: 30px;
      border-radius: 50%;
      border: 2px solid #ffffff;
    }

    &_name {
      color: #0a1629;
      font-family: Nunito Sans;
      font-size: 16px;
      font-weight: 700;
      line-height: 24px;
    }

    &_arrow {
      color: #0a1629;
      font-size: 20px;
    }
  }
}
