.sidebar {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: calc(100svh - 48px);
  padding: 40px 12px 40px 16px;
  background: white;
  border-radius: 24px;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: sticky;
  left: 0px;
  top: 0;

  .sidbar_logo {
    margin-left: 8px;
  }

  .sidebar_nav {
    margin-top: 26px;
  }

  .sidebar_text {
    color: rgba(125, 133, 146, 1);
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  .sidebar_list {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }

  .sidebar_logout {
    padding-left: 10px;
    background: transparent;
    color: rgba(125, 133, 146, 1);
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 22px;
    display: flex;
    align-items: center;
    gap:16px;

    &_icon {
      font-size: 22px
    }
  }
}

@import "./sidebar_item";
