.sidebar {
  max-width: 200px;
  min-width: 200px;
  width: 100%;
  height: 93.5svh;
  padding: 40px 12px 40px 16px;
  background: white;
  border-radius: 24px;
  box-shadow: 0px 6px 58px 0px rgba(196, 203, 214, 0.1);

  .sidbar_logo {
    margin-left: 8px;
  }

  .sidebar_nav {
    margin-top: 26px;
  }

  .sidebar_text {
    color: rgba(125, 133, 146, 1);
    font-family: Nunito Sans;
    font-size: 12px;
    font-weight: 400;
    line-height: 22px;
  }

  .sidebar_list {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;
  }
}

@import "./sidebar_item"