.sidebar_item {
  width: 100%;
  height: 44px;
  padding: 0px 8px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 16px;
  position: relative;
  transition: 0.7s ease-out;

  &.active {
    background: rgba(63, 140, 255, 0.1);
    &::after {
      background: rgba(63, 140, 255, 1);
      width: 4px;
    }

    .sidebar_icons {
      color: #3f8cff;
      font-size: 22px;
    }

    span {
      color: rgba(63, 140, 255, 1);
    }
  }

  &::after {
    content: "";
    width: 0px;
    height: 44px;
    border-radius: 2px;
    background: transparent;
    position: absolute;
    right: -12px;
    top: 0px;
    transition: 80ms linear;
  }

  .sidebar_icons {
    color: #7d8592;
    font-size: 22px;
  }

  span {
    color: #7d8592;
    font-family: Nunito Sans;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
  }
}

.sidebar_item.isactive {
  justify-content: center;
  span {
    display: none;
  }
}
