.topbar {
  .topbar_wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
  }

  .topbar_item {
    cursor: pointer;
    padding: 16px 18px;
    border-radius: 15px;
    box-shadow: 0px 3.5px 5.500000476837158px 0px rgba(0, 0, 0, 0.02);
    background: $white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px) scale(1.03); // небольшое поднятие и увеличение
      box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1); // более заметная тень
    }

    .topbar_content {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }

    .topbar_title {
      color: $gray;
      font-family: $nunito;
      font-style: Bold;
      font-size: 12px;
      font-weight: 700;
      line-height: 150%;
    }

    .topbar_number {
      color: $black;
      font-family: $nunito;
      font-style: Bold;
      font-size: 18px;
      font-weight: 700;
      line-height: 140%;
      padding-left: 7px;

      span {
        color: $green;
        font-size: 14px;
      }
    }

    .topbar_icon_bg {
      background: $primary;
      width: 45px;
      height: 45px;
      border-radius: 12px;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .topbar_icon {
      color: $white;
      font-size: 28px;
    }
  }
}
