.toggle_sidebar {
  width: 35px;
  height: 35px;
  background: $bg;
  border-radius: 50%;
  position: absolute;
  right: -14.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
  color: #0a1629;
  box-shadow: inset 6px 0 10px rgba(196, 203, 214, 0.08);
}
