.my_profile_edit {
  width: 100%;
  height: 721px;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
  background: $white;
  border: 1px solid $border-gray;
  border-radius: 12px;

  .my_profile_edit_head {
    padding: 16px 24px 8px;
    border-bottom: 1px solid $border-gray;
    h3 {
      color: rgba($black, 0.88);

      font-size: 18px;
      font-weight: 600;
      line-height: 28px;
      text-align: left;
    }
  }

  .my_profile_edit_content {
    padding: 24px;
  }

  .my_profile_title {
    @include alignItems;
    gap: 8px;

    &.personal {
      .my_profile_icon {
        background: #eff6ff;
        color: #2563eb;
      }
    }

    &.security {
      margin-top: 24px;
      .my_profile_icon {
        background: #fef2f2;
        color: #dc2626;
      }
    }

    .my_profile_icon {
      width: 32px;
      height: 32px;
      border-radius: 16px;
      background: #eff6ff;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
    }

    .my_profile_text {
      color: $text-gray-dark;
      font-size: 16px;
      font-weight: 600;
      line-height: 24px;
    }
  }

  .my_profile_edit_wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 14px;
    column-gap: 24px;
    margin-top: 16px;
    margin-bottom: 46px;
  }

  .my_profile_label_inp:nth-child(1) {
    grid-column: 1/3;
  }

  .my_profile_label_inp {
    display: flex;
    flex-direction: column;
    gap: 18px;
  }

  .my_profile_label {
    color: rgba($black, 0.88);
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
  }

  .my_profile_inp {
    height: 40px;
    position: relative;

    &.left {
      .my_profile_inp_icon {
        left: 12px;
      }

      input {
        padding-left: 42px;
        padding-right: 12px;
      }
    }

    &.right {
      .my_profile_inp_icon {
        right: 12px;
        cursor: pointer;
      }

      input {
        padding-left: 12px;
        padding-right: 42px;
      }
    }

    .my_profile_inp_icon {
      color: $steel;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 18px;
    }

    input {
      width: 100%;
      height: 100%;
      border: 1px solid $border-gray-inp;
      border-radius: 10px;
      background: transparent;
      color: rgba($black, 0.88);
      font-size: 16px;
      font-weight: 400;
      line-height: 19px;
    }
  }

  .my_profile_buttons {
    margin-top: 17px;
    display: flex;
    justify-content: end;
    gap: 12px;
  }
}
